﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View1";
}

<h2>Home</h2>

<p>Nothing great to add here yet = just a placeholder</p>

<p>
   Goto <a href="/PCDCGroup">PCDC Group docs</a>
</p>


@section Breadcrumbs {
    <ul class="breadcrumb">
        <li class="active">Home</li>
    </ul>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //set PCDC group as the active tab
            application_helpers.resetItemClass("#navlist", "#navlist_item_home", "active");
        });
    </script>
}
