﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="/Content/img/favicon.png">
    <link rel="icon" type="image/png" href="/Content/img/favicon.png">

    @Styles.Render("~/Content/bootstrap/dist/css/cerulean.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      @Scripts.Render("~/Content/bootstrap/assets/js/html5shiv.js")
      @Scripts.Render("~/Content/bootstrap/assets/js/respond.min.js")
    <![endif]-->
</head>
<body class="claro">
    @RenderPage("~/Views/Shared/_navigator.cshtml")

    @RenderSection("breadcrumbs", required: false);

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            &copy; 2013, U.S. EPA, Region 2
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/bootstrap/dist/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/application_helpers.js")

    @RenderSection("scripts", required: false)
</body>
</html>
