﻿ <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PC Bump</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul id="navlist" class="nav navbar-nav">
            <li id="navlist_item_home"><a href="/">Home</a></li>
            <li id="navlist_item_PCDCGroup"><a href="/PCDCGroup">PCDC Docs</a></li>
            <li id="navlist_item_Reservation"><a href="/Reservation">Reservations</a></li>
            <li id="navlist_item_Calendar"><a href="/ReservationCalendar">Calendar</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>