﻿@model pcbump.Data.PCDCGroup

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Create PCDC Group</legend>

                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Organization, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Organization, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Organization)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PCDC, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.PCDC, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PCDC)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Users, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Users, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Users)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="/" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

@section Breadcrumbs {
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/PCDCGroup">PCDC Docs</a>
        </li>
        <li class="active">New PCDC Docs</li>
    </ul>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //set PCDC group as the active tab
            application_helpers.resetItemClass("#navlist", "#navlist_item_PCDCGroup", "active");
        });
    </script>
}