﻿@model pcbump.Data.PCDCGroup

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<div class="well">
    <fieldset>
        <legend>
            @Html.DisplayFor(model => model.Organization)
        </legend>

<div>
    @Html.DisplayFor(model => model.PCDC)
</div>

<div>
    <h3>Users</h3>
    <ul>
    @foreach (var user in Model.Users) { 
        <li>
            @Html.DisplayFor(modelItem => user)
        </li>
    }
    </ul>
</div>
        </fieldset>
</div>

@section Breadcrumbs {
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/PCDCGroup">PCDC Docs</a>
        </li>
        <li class="active">@Html.DisplayFor(model => model.Organization)</li>
    </ul>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //set PCDC group as the active tab
            application_helpers.resetItemClass("#navlist", "#navlist_item_PCDCGroup", "active");
        });
    </script>
}