﻿@model MongoRepository.MongoRepository<pcbump.Data.PCDCGroup>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var pcdcgroup in Model) { 
    <div class="well">
        <h3>
            <a href="/PCDCGroup/Details/@Html.DisplayFor(modelItem => pcdcgroup.Id)">
                @Html.DisplayFor(modelItem => pcdcgroup.Organization)
            </a>
        </h3>
        <div>@Html.DisplayFor(modelItem => pcdcgroup.Id)</div>
        <div>@Html.DisplayFor(modelItem => pcdcgroup.PCDC)</div>
        <div>@Html.DisplayFor(modelItem => pcdcgroup.Users)</div>
        @foreach (var user in pcdcgroup.Users) {
            <div>one</div>
        }
    </div>
}

@section Breadcrumbs {
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="active">PCDC Docs</li>
    </ul>
}

@section Scripts { 
    <script type="text/javascript">
        $(document).ready(function () {
            //set PCDC group as the active tab
            application_helpers.resetItemClass("#navlist", "#navlist_item_PCDCGroup", "active");
        });
    </script>
}


